@using VistarAutor.Models
@using VistarAutor.Models.Person
@model VistarAutor.Models.Client.Client

@{
    ViewBag.Title = "Карточка клиента";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@ViewBag.Title &nbsp;@Html.DisplayFor(model => model.FullName)</h4>

<div class="row">
    <div class="col-md-4">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.Label("Краткое наименование:")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.Label("Полное наименование:")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FullName)
            </dd>

        </dl>
        <p>
            @Html.ActionLink(GlobalStrings.EDIT, "Edit", new { id = Model.Id }) |
            @Html.ActionLink(GlobalStrings.BTL, "Index")
        </p>
    </div>
    <div class="col-md-8">
        <table class="table-striped">
            <tr>
                <td><h5>@GlobalStrings.PERSONS</h5></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td style="font-size: 12px">@Html.ActionLink(GlobalStrings.CREATE, "Create", "MyPersons", new { id = Model.Id }, null)</td>
            </tr>
            <tr style="font-size: 12px">
                <td>Сотрудник</td>
                <td>Должность</td>
                <td>Телефон</td>
                <td>E-mail</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="6" style="height: 1px; background-color: gray"></td>
            </tr>
            @foreach (var person in Model.MyPersons)
            {
                <tr style="font-size: 12px">
                    <td style="width: 20%; padding: 5px">@Html.ActionLink(@person.Name +" "+@person.LastName , "Edit", "MyPersons", new { id = person.Id }, null)</td>
                    <td style="width: 10%;padding: 5px">@person.Position.Name</td>
                    <td style="width: 25%; padding: 5px">@if (person.PersonPhones.Count(c=>c.Main==true)>0)
                                                         {<text>+</text>
                                                             @person.PersonPhones.First(c => c.Main == true).CountryCode.Code <text>&nbsp;</text>
                                                             @person.PersonPhones.First(c => c.Main == true).CityCod <text>&nbsp;</text>
                                                             @person.PersonPhones.First(c => c.Main == true).NamberPhone
                                                         }
                                                         </td>
                    <td style="width: 20%; padding: 5px">@if(person.PersonMails.Count(c=>c.Main==true)>0){@person.PersonMails.First(c => c.Main==true).Mail}</td>
                    <td style="width: 15%; padding: 5px"></td>
                    <td style="width: 10%">@Html.ActionLink(GlobalStrings.DELL, "Delete", "MyPersons", new {id = person.Id}, null)</td>
                </tr>
                <tr style="font-size: 12px">
                    <td style="width: 100%; padding: 5px" colspan="6">@GlobalStrings.NOTE: @person.Note</td>
                </tr>
                <tr>
                    <td colspan="6" style="height: 1px; background-color: gray"></td>
                </tr>
            }
        </table>
    </div>
</div>
<div>
    <table>
        <tr>
            <td><h4>e-mail</h4></td>
            <td></td>
        </tr>
        <tr>
            <td>@Html.ActionLink(GlobalStrings.CREATE, "Create", "ClientMails", new {id = Model.Id}, null)</td>
            <td></td>
        </tr>
        @foreach (var item in Model.ClientMails)
        {
            <tr>
                <td>@item.Mail</td>
                <td>@Html.ActionLink(GlobalStrings.EDIT, "Edit", "ClientMails", new {id = item.Id}, null)&nbsp;|&nbsp;@Html.ActionLink(GlobalStrings.DELL, "Delete", "ClientMails", new {id = item.Id}, null)</td>
            </tr>
        }
    </table>
</div>
<div>
    <table>
        <tr>
            <td><h4>Web</h4></td>
            <td></td>
        </tr>
        <tr>
            <td>@Html.ActionLink(GlobalStrings.CREATE, "Create", "Webs", new { id = Model.Id }, null)</td>
            <td></td>
        </tr>
        @foreach (var item in Model.Webs)
        {
            <tr>
                <td>@item.Name</td>
                <td>@Html.ActionLink(GlobalStrings.EDIT, "Edit", "Webs", new {id = item.Id}, null)&nbsp;|&nbsp;@Html.ActionLink(GlobalStrings.DELL, "Delete", "Webs", new {id = item.Id}, null)</td>
            </tr>
        }
    </table>
</div>
<div>
    <table>
        <tr>
            <td><h4>Сообщения</h4></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>@Html.ActionLink(GlobalStrings.CREATE, "Create", "ClientNotes", new { id = Model.Id }, null)</td>
            <td></td>
            <td></td>
        </tr>
        @foreach (var item in Model.ClientNotes)
        {
            <tr>
                <td>@item.DateTime</td>
                <td>@item.Text</td>
                <td>@Html.ActionLink(GlobalStrings.EDIT, "Edit", "ClientNotes", new { id = item.Id }, null)&nbsp;|&nbsp;@Html.ActionLink(GlobalStrings.DELL, "Delete", "ClientNotes", new { id = item.Id }, null)</td>
            </tr>
        }
    </table>
</div>
<div>
    <table>
        <tr>
            <td><h4>Телефоны</h4></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>@Html.ActionLink(GlobalStrings.CREATE, "Create", "ClientPhones", new { id = Model.Id }, null)</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        @foreach (var item in Model.ClientPhones)
        {
            <tr>
                <td>@item.PhoneType.NameType</td>
                <td>@item.CountryCode.Name</td>
                <td>@item.CityCod</td>
                <td>@item.NamberPhone</td>
                <td>@Html.ActionLink(GlobalStrings.EDIT, "Edit", "ClientPhones", new {id = item.Id}, null)&nbsp;|&nbsp;@Html.ActionLink(GlobalStrings.DELL, "Delete", "ClientPhones", new {id = item.Id}, null)</td>
            </tr>
        }
    </table>
</div>
<div>
    <table>
        <tr>
            <td><h4>Адреса</h4></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>@Html.ActionLink(GlobalStrings.CREATE, "Create", "ClientAddresses", new { id = Model.Id }, null)</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        @foreach (var item in Model.ClientAddresses)
        {
            <tr>
                <td>@item.CountryCode.Name</td>
                <td>@item.City</td>
                <td>@item.Addresse</td>
                <td>@item.PostCode</td>
                <td>@item.Main</td>
                <td>@Html.ActionLink(GlobalStrings.EDIT, "Edit", "ClientAddresses", new { id = item.Id }, null)&nbsp;|&nbsp;@Html.ActionLink(GlobalStrings.DELL, "Delete", "ClientAddresses", new { id = item.Id }, null)</td>
            </tr>
        }
    </table>
</div>