@using VistarAutor.Models
<dd class="form-horizontal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                @using (Ajax.BeginForm("PartialClientEdit", new AjaxOptions {UpdateTargetId = "cont1", HttpMethod = "POST"}))
                {
                    @Html.AntiForgeryToken()
                    <hr/>
                    <dl class="dl-horizontal">
                        <dt>
                            <label for="date-name" class="control-label">@GlobalStrings.F_NAME:</label>
                        </dt>
                        <dd >
                            <input type="text" name="ClName" class="form-control input-sm" style="width:100%" id="cl_name">
                        </dd>
                       
                        <dt>
                            <label for="date-name" class="control-label">@GlobalStrings.DATE_BE:</label>
                        </dt>

                        <dd>
                            <input type="text" name="ClBetDay" class="form-control input-sm" style="width: auto" id="cl_betday">
                        </dd>

                        <dt>
                            <label for="date-name" class="control-label">@GlobalStrings.DEPARTMENT:</label>
                        </dt>
                        <dd>
                            <input type="text" name="Department" class="form-control input-sm" style="width: auto" id="cl_betday">
                        </dd>
                        <dt>
                            <label for="date-name" class="control-label">@GlobalStrings.POSITION:</label>
                        </dt>
                        <dd>
                            <input type="text" name="Position" class="form-control input-sm" style="width: auto" id="cl_betday">
                        </dd>
                        @Html.Hidden("ClientId", (int) ViewBag.ClientRez.Id)
                        <dt>
                            <label for="date-name" class="control-label">@GlobalStrings.NOTE:</label>
                        </dt>
                        <dd>
                            <input type="text" name="ClNote" class="form-control input-sm" style="width:100%" id="cl_note">
                        </dd>
                    </dl>
                    
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default"/>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</dd>
