@using VistarAutor.Models
<div class="modal fade" id="clientModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    @using (Ajax.BeginForm("PartialClientEdit", null, new AjaxOptions { UpdateTargetId = "cont1", HttpMethod = "POST", OnSuccess = "clear_client" }, new { @id = "myFormCl" }))
    {
        <div class="form-horizontal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="modal-header">
                            <h3>@ViewBag.ClientRez.FullName</h3>
                        </div>
                        @Html.AntiForgeryToken()
                        <hr />
                        <div class="form-group">
                            <label for="cl_name" class="col-sm-2 control-label">@GlobalStrings.F_NAME:</label>
                            <div class="col-sm-10">
                                <input type="text" name="Name" class="form-control input-sm" style="width: 100%" id="cl_name" placeholder=@GlobalStrings.F_NAME>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cl_betday" class="col-sm-2 control-label">@GlobalStrings.DATE_BE:</label>
                            <div class="col-sm-10">
                                <input type="text" name="Birthday" class="form-control input-sm" style="width: auto" id="cl_betday" placeholder=@GlobalStrings.DATE>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cl_department" class="col-sm-2 control-label">@GlobalStrings.DEPARTMENT:</label>
                            <div class="col-sm-10">
                                <input type="text" name="Department" class="form-control input-sm" style="width: auto" id="cl_department" placeholder=@GlobalStrings.DEPARTMENT value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cl_position" class="col-sm-2 control-label">@GlobalStrings.POSITION:</label>
                            <div class="col-sm-10">
                                <input type="text" name="Position" class="form-control input-sm" style="width: auto" id="cl_position" placeholder=@GlobalStrings.POSITION>
                            </div>
                        </div>
                        @Html.Hidden("ClientId", (int)ViewBag.ClientRez.Id)
                        <div class="form-group">
                            <label for="cl_note" class="col-sm-2 control-label">@GlobalStrings.NOTE:</label>
                            <div class="col-sm-10">
                                <input type="text" name="Note" class="form-control input-sm" style="width: 100%" id="cl_note" placeholder=@GlobalStrings.NOTE>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" id="btn22" onclick="close_dialog()">@GlobalStrings.SIGN</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>