@using VistarAutor.Models
@model IEnumerable<VistarAutor.Models.Person.PersonStatuse>

@{
    ViewBag.Title = GlobalStrings.STATUS_PERSON;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@GlobalStrings.STATUS_PERSON</h3>

<p>
    @Html.ActionLink(GlobalStrings.CREATE, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label(GlobalStrings.NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink(GlobalStrings.EDIT, "Edit", new { id = item.Id }) |
            @Html.ActionLink(GlobalStrings.DELL, "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
